{
  "ADSENSE_ID": "ca-pub-xxxxxxxxxxxxxxxx",
  "FORM_URLS": {
    "en": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "es": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "pt": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "fr": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "de": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "it": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true",
    "pl": "https://docs.google.com/forms/d/<ID>/viewform?embedded=true"
  },
  "CPAGRIP_KEYS": {
    "en": "KEY_EN",
    "es": "KEY_ES",
    "pt": "KEY_PT",
    "fr": "KEY_FR",
    "de": "KEY_DE",
    "it": "KEY_IT",
    "pl": "KEY_PL"
  }
}